.register{
    background: url(../img/book.png) no-repeat;
    background-size: cover;
    height:100vh;
}


img{
    height: 90%;
    /* width: 56%; */
    /* top: 5%; */
    position: absolute;
    bottom: 0;
    right: 160px;
}

.content h1{
    font-size: 50px;
    /* font-weight: 200; */
    margin-top: 1px;
    margin-bottom: 2px;
    color: #1d3d66;
    white-space: nowrap;
}
.content p{
    font-size: 20px;
    color: #6a7199;
}
.content{
    /* margin-left: 1px; */
    margin-top: 10px;
    /* display: flex; */

}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #7eb2fc, #ffb338);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.home{
    height: 100vh;
    width: 100%;
    /* background-image:url(img/background.png); */
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    /* display: flex; */
}

nav{
    flex: 10px;
    padding-left: 4px;
    justify-content:space-between;
    white-space: nowrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 18px;
}
nav ul li a{ 
    text-decoration: none;
    color: rgb(169, 113, 8);
    font-weight: 500;
}
.form {
    margin: 50px auto;
    margin-top: 20vh;
    /* margin-right: 30vh; */
    width: 300px;
    padding: 30px 25px;
    box-sizing:border-box;
    background-color: white;
} 
h1.login-title {
    color:black ;
    margin: 0px auto 25px;
    font-size: 25px solid; 
    font-weight: 300;
    text-align: center;
 }
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    color: rgb(248, 245, 241); 
    background-color: #AB907E;
    padding: 10px;
    /* margin-bottom: 25px; */
    height: 25px;
    width: calc(100% - 23px);
}
::-webkit-input-placeholder{
    color: #fff;
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
 .login-button {
    color: #fff;
    background: #744729;
    box-sizing: border-box; 
     border: 0;
    outline: 0;
    width: 50%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    margin-left: 50px;
    cursor: pointer;
} 
.login-button :hover{
    background:#AB907E;
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}

 /* .link a {
    color: #666;
} */
h3 {
    font-weight: normal;
    text-align: center;
} 
@media screen and (max-width:1024px) {
    img{
    height: 43%;
    position: absolute;
    top: 10;
    right: 30px;
    }
    .content h1 {
        font-size: 42px;
    }
    nav {
        padding-left: 0;
    }
    ul {
        padding-left: 0;
    }
}
.view{
    left: 50px;
}
/* home page style*/
/* .bookimg{
    height: 50%;
    width: 50;
} */