/* body{
    background-image: url(book.png) ;
}  */


img{
    height: 445px;
    width: 456px;
}
.text{
    color: #f21212;
}
.content h1{
    font-size: 50px;
    font-weight: 400;
    margin-top: 1px;
    margin-bottom: 26px;
    color: #1d3d66;
    white-space: nowrap;
}
.content p{
    font-size: 20px;
    color: #6a7199;
}
.content{
    /* margin-left: 1px; */
    margin-top: 10%;
    /* display: flex; */

}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #7eb2fc, #ffb338);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.home{
    height: 100vh;
    width: 100%;
    /* background-image:url(img/background.png); */
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    /* display: flex; */
}

nav{
    flex: 1;
    padding-left: 6px;
    white-space: nowrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{ 
    text-decoration: none;
    color: #333;
}
.form {
    margin: 50px auto;
    margin-top: 20%;
    margin-right: 30%;
    width: 300px;
    padding: 30px 25px;
    box-sizing:border-box;
    background-color: white;
} 
h1.login-title {
    color:black ;
    margin: 0px auto 25px;
    font-size: 25px solid; 
    font-weight: 300;
    text-align: center;
 }
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    color: rgb(248, 245, 241); 
    background-color: #AB907E;
    padding: 17px;
    margin: 5px;
    height: 25px;
    width: calc(100% - 23px);
}
::-webkit-input-placeholder{
    color: #fff;
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
 .login-button {
    color: #fff;
    background: #744729;
    box-sizing: border-box; 
     border: 0;
    outline: 0;
    width: 50%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    margin-left: 50px;
    cursor: pointer;
} 
.login-button :hover{
    background:#AB907E;
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}

 .link a {
    color: #666;
}
h3 {
    font-weight: normal;
    text-align: center;
} 
.login-form #email_error,
.login-form #pass_error{
    margin-left: 5px;
    font-size: 12px;
    color: #f21212;
    /* background-color: #fcd3d3; */
    padding: 1px ;
    border-radius: 3px;
    display: none; 
}
/* home page style*/
